@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <img src="./css/ihawu1.png" class="rounded mx-auto d-block" alt="...">
    </div>
</div>

<div class="text-center">
    <h2 class="display-4">Welcome KoGodlwayo</h2>
    <p>
        An open platform designed around your needs.<br />
        <br />
        <a class="btn btn-dark" asp-area="" asp-controller="Posts" asp-action="Index">Posts</a>
    </p>
</div>
